.registro {
    padding: 3rem 2.5rem;
    max-width: 600px;
    margin: auto;
}

form {
    display: grid;
    gap: 1rem;
}

label {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}

input, select {
    margin-top: 0.3rem;
    padding: 0.5rem;
    background: var(--gris-medio);
    border: 1px solid var(--gris-oscuro);
    color: white;
}
